<div class="container">
<h1>
  Courses:
  <%= @courses.count %>
</h1>
<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
    <div>
      <%#= course.display %>  <%#= course.adm_badge %> <%#= course.mod_badge %>
    </div>
  <% end %>
  <%#= will_paginate @course %>
</div>
<br/>
<br/>
</div>
